<h2>Hello <%= @user.email %></h2>

<br>


<%# <form action="/session" method="POST">
  <input type="hidden" name="_method" value="DELETE">

  <input type="submit" value="Sign Out">
</form> %>
<%# moved to app.html %>